[Desktop Entry]
Type=Application
Name=UU Remote for Linux
Name[zh_CN]=UU 远程（Linux 版本）
GenericName=Remote Desktop Controller
GenericName[zh_CN]=远程桌面
Comment=Control Windows and macOS devices through UU Remote under Wine
Comment[zh_CN]=通过 Wine 使用 UU 远程控制 Windows 和 macOS
Exec=uu-remote-for-linux %u
TryExec=uu-remote-for-linux
Icon=video-display
Terminal=false
Categories=Network;RemoteAccess;
Keywords=remote;desktop;controller;Wine;UU Remote;UU远程;网易;
MimeType=x-scheme-handler/uuremote;
StartupNotify=true
StartupWMClass=gameviewer.exe
Actions=SelectDecoder;

[Desktop Action SelectDecoder]
Name=Select decoder device
Name[zh_CN]=选择解码设备
Exec=uu-remote-for-linux --select-decoder
Icon=video-display
