<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>UU Remote for Linux</vendor>
  <vendor_url>https://github.com/GuoWQ222/uu-remote-for-linux</vendor_url>
  <action id="io.github.guowq222.uu_remote_for_linux.mutter_fix.install">
    <description>Install the version-locked GNOME Wayland capture fix</description>
    <description xml:lang="zh_CN">安装经过版本锁定的 GNOME Wayland 画面修复</description>
    <message>Authentication is required to replace four Ubuntu Mutter packages</message>
    <message xml:lang="zh_CN">需要管理员授权以替换四个 Ubuntu Mutter 软件包</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/uu-remote-for-linux/uu-remote-mutter-fix-root</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">install</annotate>
  </action>
  <action id="io.github.guowq222.uu_remote_for_linux.mutter_fix.rollback">
    <description>Restore the verified Ubuntu Mutter packages</description>
    <description xml:lang="zh_CN">恢复已校验的 Ubuntu Mutter 软件包</description>
    <message>Authentication is required to restore four Ubuntu Mutter packages</message>
    <message xml:lang="zh_CN">需要管理员授权以恢复四个 Ubuntu Mutter 软件包</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/uu-remote-for-linux/uu-remote-mutter-fix-root</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">rollback</annotate>
  </action>
</policyconfig>
